tests/data
tests/TEST_GENERATOR
trash
forecast/ext_data/catalogue_cluster.tar
forecast/ext_data/cat_eRO_CLU-1Count_June2020
forecast/ext_data/x-ray-mocks-comparat
#forecast/Fisher_matrices/impact-photoz-cosmology/data/*
forecast/Fisher_matrices/impact-photoz-bao/data/*
figures/clustering_forecast alias
forecast/notebooks/misc/angular_cf_crocce/cosmo_cov
forecast/notebooks/misc/angular_cf_crocce/TWODFFTLog
forecast/small_scale_clustering/data
